
/* Mengatur dasar tampilan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Styling Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

header .logo img {
    width: 80px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: blue;
}

/* Styling Hero Section */



.hero {
    background: url('img/idn-img#2.jpg') no-repeat center center/cover;
    height: 500px;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
}

/* Styling Section Profil dan Akademik */
.profil, .akademik, .kontak {
    padding: 50px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}



/* Styling Footer */
footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
